html
  head
    title SHOWLIST
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(href='/css/item.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,700italic,400italic,100italic', rel='stylesheet', type='text/css')
  body
    #wrapper
      #top
        span#showcase
        span.description
          block rating
          span.bandtitle Two Door Cinema Club
          span.text The Neptune | LAST NIGHT 20:00
        span.title
          span.menu
            span.seg
            span.seg
            span.seg
          | SHOWLIST
        span#rightnav
          span.nav
            span.full RATE THIS SHOW
            span.narrow RATE
      #content
        .filter
          span.label FILTER
          span.criteria TEXT
          span.criteria PHOTO
          span.criteria VIDEO
          span.criteria AUDIO
        .gridlistview
          span.title AUDIENCE REVIEW
          block review_content
        .gridview
          span.title PREVIOUS SHOWS
          span.grid
            span.description
              span.subtitle TONIGHT
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | 20:00
          span.grid
            span.description
              span.subtitle TONIGHT
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | 20:00
          span.grid
            span.description
              span.subtitle TONIGHT
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | 20:00
          span.grid.more MORE
        .gridview
          span.title UPCOMING SHOWS
          span.grid.duo
            span.description
              span.subtitle TONIGHT 20:00
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | Seattle, WA
          span.grid
            span.description
              span.subtitle TONIGHT 20:00
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | Seattle, WA
          span.grid
            span.description
              span.subtitle TONIGHT 20:00
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | Seattle, WA
          span.grid
            span.description
              span.subtitle TOMORROW NIGHT 20:00
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | Seattle, WA
          span.grid
            span.description
              span.subtitle TOMORROW NIGHT 20:00
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | Seattle, WA
          span.grid
            span.description
              span.subtitle TOMORROW NIGHT 20:00
              span.bandtitle Two Door Cinema Club
              span.text The Neptune | Seattle, WA
          span.grid.more MORE
      #footer
