extends item-layout
block rating
    span.subtitle #{artist_rating} / 5

block review_content
    for result in reviews
        span.gridlist.itemreview
            span.userinfo
                span.infoimage
                span.infoname #{result.creator}
              span.userreview
                span.reviewrating #{result.rating}/5
                span.reviewtext
                  | #{result.review_body}