<!DOCTYPE HTML>
<html>
<head>
	<title>SHOWLIST</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link href="theme/landing.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,700italic,400italic,100italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
	<div id="top">
		<span id="showcase">
			<span id="topblock"></span>
			<span id="bottomblock"></span>
			<span class="description">
				<span class="subtitle">4.6 / 5</span>
				<span class="bandtitle">Two Door Cinema Club</span>
				<span class="text">The Neptune | LAST NIGHT 20:00</span>
			</span>
		</span>
		<span class="title"><span class="menu"><span class="seg"></span><span class="seg"></span><span class="seg"></span></span>SHOWLIST</span>
		<span id="rightnav">
			<span class="nav"><span class="full">RATE A SHOW</span><span class="narrow">RATE</span></span>
		</span>
	</div>
	<div id="content">
		<div class="filter">
			<span class="label">DISPLAY MODE</span>
			<span class="criteria">SHOW</span>
			<span class="criteria">ARTIST</span>
			<span class="criteria">VENUE</span>
		</div>
		<div class="gridview">
			<span class="title">JUST HAPPENED</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid more">MORE</span>
		</div>
		<div class="gridview">
			<span class="title">UPCOMING SHOW</span>
			<!--span class="grid qua">1</span-->
			<span class="grid duo">
				<span class="description">
					<span class="subtitle">TONIGHT 20:00</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | Seattle, WA</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT 20:00</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | Seattle, WA</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT 20:00</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | Seattle, WA</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TOMORROW NIGHT 20:00</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | Seattle, WA</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TOMORROW NIGHT 20:00</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | Seattle, WA</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TOMORROW NIGHT 20:00</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | Seattle, WA</span>
				</span>
			</span>
			<span class="grid more">MORE</span>
		</div>
		<div class="gridview">
			<span class="title">PRAISED SHOWS</span>
			<!--span class="grid qua">1</span-->
			<span class="grid duo">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid">
				<span class="description">
					<span class="subtitle">TONIGHT</span>
					<span class="bandtitle">Two Door Cinema Club</span>
					<span class="text">The Neptune | 20:00</span>
				</span>
			</span>
			<span class="grid more">MORE</span>
		</div>
	</div>
	<div id="footer"></div>
</div>
</body>
</html>